numpy
embag
gdown
tqdm
opencv-python
--extra-index-url https://rospypi.github.io/simple/
rospy
cv-bridge
sensor_msgs
std_msgs
geometry_msgs

pip install  pytorch torchvision cudatoolkit=$cuda_version -c pytorch
pip install  opencv
pip install  tqdm
pip install  -c anaconda h5py 
pip install  -c intel pandas
pip install  -c anaconda scikit-image
pip install thop --user